* {
	--main-color: #191a19;
	--sec-color: #4e9f3d;
	--tert-color: #d8e9a8;
	font-family: 'Oswald', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;

	box-sizing: border-box;

	background: linear-gradient(
		135deg,
		#000000,
		var(--main-color)
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.maincont {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

a {
	color: var(--main-color);
	text-decoration: none;
}

.head {
	flex-wrap: nowrap;
	color: white;
	width: 100%;
	margin: 0 auto;

	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 50%;
}

.introH1 {
	font-size: 4rem;
}

.introH2 {
	font-size: 2rem;

	font-weight: 400;
}

.headAlign {
	display: flex;
}

.navmain {
	display: flex;
	flex-direction: column;
	padding-top: 2rem;
}

.sidebar {
	width: 30%;
	position: sticky;
	top: 25%;
	height: 0;
	left: 5%;
	z-index: 2;
}

.navbutton {
	width: 9rem;
	height: 2.5rem;
	margin: 0.5rem;
	border-radius: 4px;
	color: var(--main-color);
	background: #000000; /* fallback for old browsers */

	background: linear-gradient(
		45deg,
		#4e9f3d,
		#046109
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	border: 1px solid var(--sec-color);
	font-weight: 400;
	font-size: 1.3rem;
	box-shadow: inset 5px 5px 10px -3px #167703;
	cursor: pointer;
}

.navbutton:hover {
	box-shadow: 5px 5px 10px -3px #167703;
}

.brandLinks {
	color: white;
	width: 9rem;
	margin: 0.5rem;
	justify-content: space-evenly;

	display: flex;
}

.brandLinksHead {
	display: none;
}

.brandLinks > * {
	font-size: 1.5rem;
	z-index: 9;
	color: white;
}

.aboutme {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 70%;
	margin: 0 auto;
	height: 30%;
	padding-top: 4rem;
}

.aboutmehead {
	color: white;
	font-size: 1.7rem;
}

.aboutmeDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.aboutmepar {
	width: 70%;

	margin: 0 auto;
	text-align: left;

	flex-wrap: nowrap;
	color: white;
	font-size: 1.3rem;
}

.readMore {
	width: 7rem;
	background: none;
	height: 2rem;
	text-align: left;
	color: white;
	border: none;
	font-size: 1.3rem;
	font-weight: 500;
	text-decoration: underline;

	cursor: pointer;
}

.hide {
	display: none;
}

.techDiv {
	display: flex;
	flex-direction: column;
	color: white;
	font-size: 1.3rem;
	width: 70%;
	padding: 1rem 0 1rem 0;
}

.techLists {
	display: flex;

	width: 70%;
	gap: 2rem;
	font-size: 1.3rem;
	text-align: left;
}

.techLists > ul {
	list-style: none;
	padding-left: 0;
}

.techLists > ul > li {
	margin-right: 1rem;
}

/*
Tablets 
////////////////////////////////////////////////////////////////////////////*/
@media (max-width: 83rem) {
	/* .navmain {
		display: none;
	} */

	.app {
		flex-direction: column;
	}

	.brandLinks {
		display: none;
	}

	.brandLinksHead {
		color: white;
		width: 33%;
		justify-content: space-evenly;
		margin-top: 1rem;
		display: flex;
		gap: 2rem;
	}

	.brandLinksHead > * {
		font-size: 3rem;
		z-index: 9;
		color: white;
	}

	.navmain {
		flex-direction: row;
		padding: 1rem 0 1rem 0;
		justify-content: center;
	}

	.sidebar {
		top: 0;
		width: 100%;

		height: 35%;
		z-index: 1;
		background: linear-gradient(135deg, #000000, var(--main-color));
	}

	.navbutton {
		width: 6rem;
		height: 2rem;
		font-size: 1.1rem;
	}

	.brandLinks {
		display: none;
	}
	.aboutme {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 100%;
		margin: 0 auto;
		height: 30%;
		padding-top: 6rem;
		padding-bottom: 3rem;
	}
	.techLists > ul {
		width: 50%;
	}
}

/*
Mobile 
////////////////////////////////////////////////////////////*/

@media (max-width: 43rem) {
	.navmain {
		display: none;
	}
	.head {
		flex-wrap: nowrap;
		color: white;
		width: 70%;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		height: 85%;
	}

	.aboutme {
		display: flex;
		justify-content: center;
		align-items: center;

		word-wrap: break-word;
		width: 70%;
		margin: 0 auto;
		height: 30%;
	}

	.aboutmepar {
		width: 95%;
	}

	.techDiv {
		display: flex;

		width: 100%;
		color: white;
		justify-content: center;
		gap: 3rem;
		font-size: 1.1rem;

		align-items: center;
		margin-left: 1rem;
	}
	.techLists > ul > li {
		width: 110%;
	}
}
